// app global css in Stylus form
body
    font-family 'Open Sans'
.desktop .menu-btn
    visibility hidden
    pointer-events none
.bg-border
    background $border
.bg-background
    background $background